* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("imatges/capcalera.jpeg");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100vw;
}

header h1 {
    align-items: center;
    text-align: center;
    justify-content: center; 
    margin: 0;
    padding-top: 40%; 
    padding-left: 30px;
}

header h5 {
    align-items: center;
    text-align: right;
    justify-content:flex-end;
    margin-right: 3%;
    padding-top: 1%;
    padding-left: 25%;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1%;
    width: 100%;
    height: 100vh;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1%; 
    max-width: 70%;
    margin: 1% auto;
    padding: 0.1%;
}


.foto {
    overflow: hidden;
    transition: transform 1s ease-in-out;
}

.foto img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}


.galeria.gran {
    grid-template-columns: 1fr 1fr; 
    max-width: 70%;
}


.galeria.gran .foto {
    grid-column: span 1; 
}


.foto1:hover {
    transform: scale(2.1) translate(8%, 20%);
}
.foto2:hover {
    transform: scale(2.1) translate(0%, 20%); 
}
.foto3:hover {
    transform: scale(2.1) translate(0%, 20%);
}
.foto4:hover {
    transform: scale(2.1) translate(-8%, 20%); 
}
.foto5:hover {
    transform: scale(1.5) translate(10%); 
}
.foto6:hover {
    transform: scale(1.5) translate(-10%); 
}
.foto7:hover {
    transform: scale(2.1) translate(8%, -30%); 
}
.foto8:hover {
    transform: scale(2.1) translate(0%, -30%); 
}.foto9:hover {
    transform: scale(2.1) translate(0%, -30%); 
}
.foto10:hover {
    transform: scale(2.1) translate(-8%, -30%); 
}



