/* Estils generals */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                      url('imatges/portada_fons.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #000;
}
h1 {
    margin-top: 10%;
    font-family: 'Cormorant Unicase', cursive;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s;
}


.logo-icon:hover {
    transform: scale(1.4);
}

.logo-link:hover {
    background-color: transparent; /* Evita qualsevol canvi de color */
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar-menu li {
    margin: 0 20px;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



/* Seccions */
.section {
    padding: 40px 20px 20px 20px;
    margin-top: 30px;
}

/* Galeria de fotos (4 per fila) */
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 fotos per fila */
    gap: 20px; /* Espai entre les fotos */
    margin-top: 20px;
}
.photo-gallery .photo:nth-child(-n+8) img {
    cursor: pointer;
}

.photo img {
    width: 100%;
    height: 200px; /* Altura constant per a totes les fotos */
    object-fit: cover; /* Asegura que la imatge cobreixi l'espai sense deformar-se */
    border-radius: 10px; /* Arrodoneix les cantonades */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Afegir una ombra lleugera per a l'efecte visual */
}

/* Estils per al modal */
.modal {
    display: none; /* Ocult el modal per defecte */
    position: fixed;
    z-index: 2000; /* Assegura que el modal estigui per sobre del menú fix */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    padding-top: 60px;
}

.modal #modalImage {
    margin: 0 auto;
    max-width: 90%;
    max-height: 80%;
    display: block;
}

.modal .close {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

/* Galeria de panorames (3 per fila) */
.panorama-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnes */
    gap: 20px;
    margin-top: 20px;
}

.panorama-item {
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.panorama-thumbnail {
    width: 100%;
    height: 200px; /* Alçada de les miniatures */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.panorama-thumbnail:hover {
    transform: scale(1.05); /* Efecete de zoom en la miniatura quan es passa per sobre */
}

/* Estils per a la secció d'Història */
#historia p {
    column-count: 2;
    column-gap: 40px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}
button {
    cursor: pointer;

}

@media (max-width: 768px) {
    #historia p {
        column-count: 1;
    }
}

#historia p:first-of-type {
    margin-top: 0;
}

@media (max-width: 576px) {
    .photo-gallery {
        flex-direction: column;
        align-items: center;
    }
    .video-container iframe {
        height: 300px;
    }
}
/* Estilització per a la secció del mapa */
#com-arribar {
    margin-bottom: 30px; /* Afegim espai per separar la secció del mapa de la següent */
}

/* Estilització per a la secció d'enllaços recomanats alineada a l'esquerra */
#enllacos {
    margin-left: 20px;         /* Afegim una distància des de l'esquerra */
    margin-top: 30px;          /* Afegim una distància des de la part superior */
    padding: 10px;             /* Afegim una mica de marge intern */
}

#enllacos h2 {
    font-size: 1.5rem;         /* Mida del títol */
    margin-bottom: 15px;       /* Espai inferior entre el títol i la llista */
}

#enllacos ul {
    list-style-type: none;     /* Elimina els punts de la llista */
    padding: 0;
}

#enllacos ul li {
    margin-bottom: 10px;       /* Espai entre els enllaços */
}

#enllacos ul li a {
    color: #1e67dd;            /* Color dels enllaços */
    text-decoration: none;     /* Elimina la subratllat dels enllaços */
    font-size: 1rem;           /* Mida de la font */
}

#enllacos ul li a:hover {
    text-decoration: underline; /* Subratllat quan el cursor passa per sobre */
}



.footer {
    width: 100%;
    background-color: rgba(51, 51, 51, 0.7); /* Fons similar al menú */
    padding: 40px 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    flex: 1;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.footer-text h6 {
    margin: 5px 0;
    font-size: 1rem;
    line-height: 1.5;
}

.footer-images {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    gap: 60px;
    flex: 1;
}

.footer-logo {
    max-width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
    background-color: transparent;
}

.footer-logo:hover {
    transform: scale(1.1);
}

/* Només el tercer logo amb fons blanc */
.footer-logo.white-background {
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
}








