
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f4e5;
    color: #333;
}

header {
    font-size: 3em;
    color: #0a0707;
    background-color: #e0b32d;
    text-align: center;
    margin: 10px 0;
}

h1.h1custom, h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

h4 {
    font-size: 16px;
    color: #6a6565;
    margin-top: 2px;
}

header img.logo {
    width: 10%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

nav {
    background-color: #d1c7b7;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #8f7d61;
    border-radius: 5px;
}

nav a:hover {
    background-color: #6f5b3f;
}

section {
    padding: 20px 10%;
}

article {
    display: inline-block;
    width: 30%;
    margin: 10px;
    padding: 15px;
    background: #d1c770;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    border-radius: 8px;
}

article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

article img:hover {
    transform: scale(1.1);
}

.formulari {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px 0;
    border-radius: 8px;
}

.formulari div {
    margin: 10px 0;
    width: 100%;
}

textarea, input[type="text"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #8f7d61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #6f5b3f;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

aside nav ul li {
    margin-bottom: 10px;
}

aside nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    word-wrap: break-word;
    padding: 5px 10px;
    display: block;
    background-color: #18d4d1;
}

aside nav ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #d1c7b7;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-top: 1px solid #ccc;
}




